{% extends "index.html" %}
{% load static %}

{% block csschild %} <link type="text/css" rel="stylesheet" href="{% static 'css/csv_download.css' %}" /> {% endblock%}

{% block title %} <title> Descargar Plantilla </title> {% endblock %}

{% block titlepage %} Descargar Plantilla {% endblock %}

{% block content %}

	<div class="col-6 m-5 p-3 container bg-light">

		<form class="row g-3 p-2 needs-validation" novalidate>
			{% csrf_token %}

		    <legend class="p-2"> Parametros de plantilla </legend>

	    	<!-- Edificio -->
		    <div class="col-auto my-2 mx-3">
		      	<label for="edificio" class="form-label">Edificio</label>
		      	<select id="edificio" name="edificio" class="form-select" required>
		      		<option selected disabled> Selecciona el edificio... </option>
		      			{% for edificio in edificios %}
		      				<option value="{{edificio}}"> {{edificio}} </option>
		      			{% endfor %}
		      	</select>
		      	<div class="valid-feedback">
		    		<i class='bi bi-check-lg text-success h-5'> </i>
			    </div>
			    <div class="invalid-feedback">
			    	<i class='bi bi-x-lg text-danger h-5'> </i>
			    </div>
		    </div>

		    <!-- Moneda -->
		    <div class="col-auto my-2 mx-3">
				<label for="moneda" class="form-label">Moneda</label>
				<select id="moneda" name="moneda" class="form-select" required>
					<option selected disabled> Selecciona la moneda... </option>
						{% for moneda in monedas %}
							<option value="{{moneda}}"> {{moneda}} </option>
						{% endfor %}
				</select>
				<div class="valid-feedback">
		    		<i class='bi bi-check-lg text-success h-5'> </i>
			    </div>
			    <div class="invalid-feedback">
			    	<i class='bi bi-x-lg text-danger h-5'> </i>
			    </div>
		    </div>

		    <!-- batch -->
		    <div class="col-auto my-2 mx-3">
				<label for="batch" class="form-label">Id de Batch</label>
				<input id="batch" name="batch" type="number" maxlength="8" class="form-control" required>
				<div class="valid-feedback">
		    		<i class='bi bi-check-lg text-success h-5'> </i>
			    </div>
			    <div class="invalid-feedback">
			    	<i class='bi bi-x-lg text-danger h-5'> </i>
			    </div>
		    </div>

		    <!-- taza -->
		    <div class="col-auto my-2 mx-3">
				<label for="rate" class="form-label">Taza</label>
				<input id="rate" name="rate" type="text" class="form-control" required>
				<div class="valid-feedback">
		    		<i class='bi bi-check-lg text-success h-5'> </i>
			    </div>
			    <div class="invalid-feedback">
			    	<i class='bi bi-x-lg text-danger h-5'> </i>
			    </div>
		    </div>

		    <button type="submit" class="btn btn-outline-success my-3 p-2 mx-2">Generar plantilla</buton>

		</form>

	</div>

{% endblock %}

{% block scripts %}
	<script src="../static/js/csv_download.js"></script>
{% endblock %}