{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<link type="text/css" rel="stylesheet" href="{% static 'css/stylessubirarchivo.css' %}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Validar Datos </title>

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.05);">

		  	<div class="container-fluid">
		  		<div class="col-4">
		  			<a href="/" ><img height="90" width="220" src="{% static 'img/bmlogo-r.png' %}" class="rounded"></a>
		  		</div>
		  		<div class="col-4 container text-center">
		  			<h1 class="navbar-brand float-start" href="/" style="text-align: center; font-size: 35px;" > Validar Datos </h1>
		  		</div>
		  		
		  		<div class="col-2 p-2">
	  			    {% if user.is_authenticated %}
	  			    	<div class="btn-group dropstart">
						  <span class="dropdown-toggle text-reset fw-bold" data-bs-toggle="dropdown" aria-expanded="false">
						    <i class="bi bi-gear-fill"></i> {{ user.get_username }}
						  </span>
						  <ul class="dropdown-menu">
						  	{% if user.is_superuser %}
						    	<li><a class="dropdown-item" href="/plantillas/modificar_plantillas/"> Modificar plantillas </a></li>
						    	<li><a class="dropdown-item" href="/admin/"> Administracion </a></li>
						    	<li><hr class="dropdown-divider"></li>
						    {% endif %}
						    <li><a class="dropdown-item" href="/admin/logout/"> Salir </a></li>
						  </ul>
						</div>
				   	{% endif %}
		        </div>
	    	</div>

		</nav>
	</header>

	<div class="accordion m-2" id="accordionExample">
		{% for filtro in filtros %}

			<div class="accordion-item">

				<h2 class="accordion-header" id="heading{{filtro.bldgid}}">
					<button 
						class="accordion-button" 
						type="button" 
						data-bs-toggle="collapse" 
						data-bs-target="#collapse{{filtro.bldgid}}" 
						aria-expanded="false" 
						aria-controls="collapse{{filtro.bldgid}}"
					>
					{{filtro.bldgid}}
					</button>
				</h2>

				<div 
					id="collapse{{filtro.bldgid}}" 
					class="accordion-collapse collapse" 
					aria-labelledby="heading{{filtro.bldgid}}" 
					data-bs-parent="#accordionExample"
				>
					<div class="accordion-body">
						{% if filtro.second_validation == False %}
							<a class="btn btn-success col-2 m-1" href="javascript:confirmar({{filtro.id}})"> 
								<i class="bi bi-check2-circle"></i> 
								Validar 
							</a>
						{% else %}
							<a class="btn btn-danger col-2 m-1" href="javascript:confirmar({{filtro.id}})"> 
								<i class="bi bi-x-circle"></i> 
								Cancelar validacion 
							</a>
						{% endif %}
						<div class="table-responsive">
						    <table class="table table-striped caption-top">
								<tbody>
									{% for i in data %}
										{% if filtro.bldgid == i.bldgid %}
											<tr>	
												<td> {{i.leasid}} </td>
												<td> {{i.bldgid}} </td>
												<td> {{i.suitid}} </td>
												<td> {{i.occpname}} </td>
												{% for k,v in i.fields.items %}
													<td> {{v}} </td>
												{% endfor %}
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		{% endfor %}
	</div>


	<!--
	{% for filtro in filtros %}

		<div class="col m-2">
			<div class="row m-2">
				<p class="fw-bold col-2"> {{filtro.building}} </p> 
				<a class="btn btn-success col-2" href="javascript:confirmar({{filtro.id}})"> Validar </a>
			</div>
		</div>
		
		<div class="m-2 p-1" style="margin-left: 25px; width:1000px; height:350px; overflow: auto;"> 
			
			<div class="table-responsive">
			    <table class="table table-striped caption-top">
					
					<tbody>
						{% for i in data %}
							{% if filtro.building == i.bldgid %}
								<tr>	
									<td> {{i.leasid}} </td>
									<td> {{i.bldgid}} </td>
									<td> {{i.suitid}} </td>
									<td> {{i.occpname}} </td>
									{% for k,v in i.values.items %}
										<td> {{v}} </td>
									{% endfor %}
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>

				</table>
			</div>

		</div>

	{% endfor %}
	-->
	

	<!-- Footer -->
	<div class="align-items-end">
		<footer class="text-center text-lg-start bg-light text-muted">
		  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
		    © 2023,
		    <a class="text-reset fw-bold"> Todos los derechos reservados</a>
		  </div>
		</footer>
	</div>
	<!-- Footer -->

	<script>
		function confirmar(b)
		{
			var confirmar = confirm('Estas a punto de confirmar los cambios realizados?');
	        if (confirmar == true)
	        {
	        	location.href ="/validar_datos/confirmar/"+b;
	        }
		}
	</script>
	
</body>
</html>